[Unit]
Description=Grafana Alloy
Documentation=https://grafana.com/docs/alloy/
Wants=network-online.target
After=network-online.target

[Service]
# It is best practice to run Alloy as its own user
User=alloy
Group=alloy
Type=simple

# Path to the binary and the config file
# --storage.path ensures Alloy can cache data (like log positions) between restarts
ExecStart={{ alloy_install_folder }}/alloy-{{ ansible_facts['system'] | lower }}-{{ 'arm64' if ansible_facts['architecture'] == 'aarch64' else ansible_facts['architecture'] | lower }} \
    run {{ alloy_config_folder }}/config.alloy \
    --storage.path={{ alloy_data_folder }}/data \
    --server.http.listen-addr=0.0.0.0:{{ alloy_http_listen_port }}

# Automatically restart if the service fails
Restart=always
RestartSec=5s

# Capability to read journald logs without being root
# Requires the user 'alloy' to be in the 'systemd-journal' group
AmbientCapabilities=CAP_NET_BIND_SERVICE

MemoryMax=1G
# Optional: use MemoryHigh as the primary control mechanism
MemoryHigh=750M

[Install]
WantedBy=multi-user.target
