
otelcol.receiver.otlp "otlp_receiver" {
  grpc {
    endpoint = "127.0.0.1:4317"
  }

  http {
    endpoint = "127.0.0.1:4318"
  }

  output {
    metrics = [otelcol.processor.batch.batch_processor.input]
    logs    = [otelcol.processor.batch.batch_processor.input]
    traces  = [otelcol.processor.batch.batch_processor.input]
  }
}

otelcol.processor.batch "batch_processor" {
  output {
    metrics = [otelcol.exporter.prometheus.prometheus_exporter.input]
    logs    = [otelcol.exporter.loki.loki_exporter.input]
    traces  = [otelcol.exporter.otlp.tempo_exporter.input]
  }
}


otelcol.exporter.loki "loki_exporter" {
  forward_to = [loki.write.loki_writer.receiver]
}

loki.write "loki_writer" {
  endpoint {
    url = "http://localhost:3100/loki/api/v1/push"
  }
}

otelcol.exporter.prometheus "prometheus_exporter" {
  forward_to = [prometheus.remote_write.prometheus_writer.receiver]
}

prometheus.remote_write "prometheus_writer" {
  endpoint {
    url = "http://prometheus:9090/api/v1/write"
  }
}

otelcol.exporter.otlp "tempo_exporter" {
  client {
    endpoint = "localhost:4317"
  }
}
