
otelcol.receiver.otlp "otlp_receiver" {
  grpc {
    endpoint = "0.0.0.0:{{alloy_otlp_grpc_ingest_port}}"
  }

  http {
    endpoint = "0.0.0.0:{{alloy_otlp_http_ingest_port}}"
  }

  output {
    metrics = [otelcol.processor.batch.batch_processor.input]
    logs    = [otelcol.processor.batch.batch_processor.input]
    traces  = [otelcol.processor.batch.batch_processor.input]
  }
}

otelcol.processor.batch "batch_processor" {
  timeout = "1000ms"
  output {
    metrics = [otelcol.exporter.prometheus.prometheus_exporter.input]
    logs    = [otelcol.exporter.loki.loki_exporter.input]
    traces  = [otelcol.exporter.otlp.tempo_exporter.input]
  }
}

otelcol.exporter.loki "loki_exporter" {
  forward_to = [loki.process.flatten_logs.receiver]
}

otelcol.exporter.prometheus "prometheus_exporter" {
  forward_to = [prometheus.remote_write.prometheus_writer.receiver]
}

loki.write "loki_writer" {
  endpoint {
    url = "{{alloy_loki_push_url}}"
  }
}

prometheus.remote_write "prometheus_writer" {
  endpoint {
    url = "{{alloy_prometheus_remote_write_url}}"
  }
}

otelcol.exporter.otlp "tempo_exporter" {
  client {
    endpoint = "{{alloy_tempo_otlp_endpoint}}"
    tls {
      insecure             = true
      insecure_skip_verify = true
    }
  }
}

loki.source.journal "logs_integrations_integrations_node_exporter_journal_scrape" {
  max_age       = "24h0m0s"
  relabel_rules = discovery.relabel.logs_integrations_integrations_node_exporter_journal_scrape.rules
  forward_to    = [loki.write.loki_writer.receiver]
}

discovery.relabel "logs_integrations_integrations_node_exporter_journal_scrape" {
  targets = []

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }

  rule {
    source_labels = ["__journal__boot_id"]
    target_label  = "boot_id"
  }

  rule {
    source_labels = ["__journal__transport"]
    target_label  = "transport"
  }

  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
}

{# logging {
    level = "debug"
    format = "json"
} #}

livedebugging {
  enabled = true
}

loki.process "flatten_logs" {
  stage.json {
    expressions = {
      "attributes" = "attributes",
      "msg"        = "body",
    }
  }

  stage.structured_metadata {
    values = {
      attributes = "attributes",
      resources  = "resources",
    }
  }

  stage.output {
    source = "msg"
  }
  stage.output {
    source = "attributes"
  }

  stage.output {
    source = "resources"
  }


  forward_to = [loki.write.loki_writer.receiver]
}
